<div layout="row"  ng-controller="contactsController as contactCtrl">
	<div flex="30">
	<md-card>
      		<md-list>
        <md-list-item>
          <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" /> -->
          <div class="md-list-item-text" layout="column">
            <h3>Name</h3>
          </div>
        </md-list-item>
        <md-list-item>
        	<div>
          <md-button md-no-ink  layout="row">All Contacts</md-button>
          </div>
        </md-list-item>
        <md-list-item>
          <md-button md-no-ink>Frequently Contacted</md-button>
        </md-list-item>
        <md-list-item>
          <md-button md-no-ink>Starred Contacts</md-button>
        </md-list-item>
        <md-divider ></md-divider>
        <md-list-item>
          <md-button md-no-ink>Friends</md-button>
        </md-list-item>
        <md-list-item>
          <md-button md-no-ink>Clients</md-button>
        </md-list-item>
        <md-list-item>
          <md-button md-no-ink>Recent Workers</md-button>
        </md-list-item>
      </md-list>
      </md-card>
</div>
<div flex="65">
	<md-card>
		<md-list>
			<md-list-item layout="row" layout-wrap>
				<p flex layout="start center">All Contacts</p>
			</md-list-item>
			<br>
			<md-list-item layout="row" layout-wrap>
				<md-checkbox  flex="10"></md-checkbox>
				<md-avatar flex="10"></md-avatar>
				<p flex="20">Name</p>
				<p flex="20">Email</p>
				<p flex="20">Contact</p>
				<i class="material-icons" flex="10">star_border</i>
				<md-menu flex="10">
				      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="contactCtrl.openMenu($mdOpenMenu, $event)">
				        <i class="material-icons">more_vert</i>
				      </md-button>
				      <md-menu-content  width="4">
				      	<md-menu-item>
				      		<md-button>
				      			Delete Contact
				      		</md-button>
				      	</md-menu-item>
				      	<md-menu-divider></md-menu-divider>
				        <md-menu-item>
				          <md-button>
				            Friends
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button>
				            Clients
				          </md-button>
				        </md-menu-item>
				        <md-menu-divider></md-menu-divider>
				        <md-menu-item>
				          <md-button>
				          	Recent Workers
				          </md-button>
				        </md-menu-item>
				      </md-menu-content>
    			</md-menu>
			</md-list-item>
		</md-list>
	</md-card>
</div>
</div>