	<div layout="row"  ng-controller="contactsController as contactCtrl">
		<div flex="25" layout-margin>
			<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-2dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-list>
					<md-list-item>
						<a>
							<md-item-content  md-ink-ripple layout="row" layout-align="start center">
								<div class="inset">
									<h4 class=".md-subhead">Contacts</h4>
								</div>
							</md-item-content>
						</a>
					</md-list-item>
					<md-list-item >
						<a>
							<md-item-content  md-ink-ripple layout="row" layout-align="start center">
								<div class="inset">
									<h4 class=".md-subhead">Frequent Contacts</h4>
								</div>
							</md-item-content>
						</a>
					</md-list-item>
				</md-list>
			</md-sidenav>
		</div>
		<div flex="70" layout-margin>
			<md-card>
				<md-toolbar  md-scroll-shrink>	
				<span flex></span>
				<h1 class=".md-display-1" layout-margin>
					All Contacts
				</h1>	
				</md-toolbar>
				<md-list>
					<br>
					<md-list-item layout="row" layout-wrap ng-repeat="contact in contactsList | limitTo:10" ng-if="contact.Name">
						<md-checkbox class="md-accent" flex="5"></md-checkbox>
						<p flex="20" >{{contact.Name}}</p>
						<p flex="30" >{{contact['E-mail 1 - Value']}}</p>
						<p flex="30">{{contact['Phone 1 - Value']}}</p>
						<i class="material-icons" flex="5">star_border</i>
						<md-menu >
							<md-button aria-label="Open phone interactions menu"  class="md-icon-button" ng-click="contactCtrl.openMenu($mdOpenMenu, $event)">
								<i class="material-icons">more_vert</i>
							</md-button>
							<md-menu-content >
								<md-menu-item>
									<md-button>
										Delete Contact
									</md-button>
								</md-menu-item>
								<md-menu-divider></md-menu-divider>
								<md-menu-item>
									<md-button>
										Friends
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button>
										Clients
									</md-button>
								</md-menu-item>
								<md-menu-divider></md-menu-divider>
								<md-menu-item>
									<md-button>
										Recent Workers
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-list-item>
				</md-list>
			</md-card>
		</div>
	</div>