	<div layout="row"  ng-controller="contactsController as contactCtrl">
		<div flex="25" layout-margin>
			<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-2dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
				<md-list>
					<md-list-item>
						<a ng-href="{{userHomePage}}">
							<md-item-content  md-ink-ripple layout="row" layout-align="start center">
								<div class="inset">
									<h4 class=".md-subhead">Home</h4>
								</div>
							</md-item-content>
						</a>
					</md-list-item>
					<md-list-item >
						<a>
							<md-item-content  md-ink-ripple layout="row" layout-align="start center">
								<div class="inset">
									<h4 class=".md-subhead">Frequent Contacts</h4>
								</div>
							</md-item-content>
						</a>
					</md-list-item>
				</md-list>
			</md-sidenav>
		</div>
		<div flex="70" layout-margin>
			<md-card>
				<md-toolbar  md-scroll-shrink>	
				
				<div layout="row" layout-margin>
				<!-- <span flex></span> -->
				<h1 class=".md-display-1" flex="90" layout-margin >
					All Contacts
					
				</h1>
				<md-button class="md-icon-button" flex="10" ng-click="showPrompt($event)">
				<!-- For modern browsers. -->
					<i class="material-icons btn1">add_circle</i>
				</md-button>	
				</div>
				</md-toolbar>
				<md-list>
					<br>
					<md-list-item layout="row" layout-wrap ng-repeat="contact in contactsList | limitTo:10" ng-if="contact.Name">
						<md-checkbox class="md-accent" flex="5"></md-checkbox>
						<p flex="20" >{{contact.Name}}</p>
						<p flex="30" >{{contact['E-mail 1 - Value']}}</p>
						<p flex="30">{{contact['Phone 1 - Value']}}</p>
						<i class="material-icons" flex="5">star_border</i>
						
					</md-list-item>
				</md-list>
			</md-card>
		</div>
	</div>