<form name="loginForm"layout="row" novalidate>
    <span hide-xs hide-sm flex-gt-sm="20"></span>
    <md-whiteframe class="md-whiteframe-4dp" flex-gt-sm="45" layout="column" layout-padding>
        <br>
        <div layout="column">
            <md-input-container  layout-margin>
                <label>USERNAME</label>
                <input type="text" name="username" required data-ng-model="formData.username" minlength="8">
                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required" >this is required.</div>
                </div>
            </md-input-container>
            <md-input-container  layout-margin>
                <label>PASSWORD</label>
                <input type="password" name="password" required data-ng-model="formData.password" minlength="8">
                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required" >this is required.</div>
                </div>
            </md-input-container>
            <md-input-container  layout-margin>
                <label>CONFIRM PASSWORD</label>
                <input type="password" name="repassword" required data-ng-model="formData.repassword" minlength="8">
                <div ng-messages="loginForm.repassword.$error">
                    <div ng-message="required" >this is required.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="column" layout-align="center center">
            <md-button ng-click="signUp()" class="md-raised md-primary">Next</md-button>
        </div>
    </md-whiteframe>
    <span hide-xs hide-sm flex-gt-sm="20"></span>
</form>