<md-content ng-controller="UserController as ctrl">
	<div id="chatapp">
		<div class="center">
			<div class="content-card"   layout="row">
			 <md-sidenav class="sidenav leftSidenav"   md-is-locked-open="$mdMedia('gt-xs')" layout-margin>
			 	<div class="view chats-view">
			 		<md-toolbar class="md-tall md-default-theme _md-toolbar-transitions">
				 		<div class="md-toolbar-tools md-toolbar-top">
				 			<i class="material-icons" style="font-size:36px;height:80%;">&#xE55A;</i>
				 			<md-menu class="md-menu">
				 			<md-icon class="material-icons status online" ng-click="ctrl.openMenu($mdOpenMenu, $event)">done</md-icon>
				 			<md-menu-content width="4">
					        <md-menu-item>
					          <md-button >
					          	<div layout-align="center center">
					            <i class="material-icons status away">query_builder</i>
					            </div>
					          </md-button>
					        </md-menu-item>
					        <md-menu-item>
					          <md-button>
					            <md-icon md-svg-icon="call:voicemail"></md-icon>
					            Check voicemail
					          </md-button>
					        </md-menu-item>
					        <md-menu-divider></md-menu-divider>
					        <md-menu-item>
					          <md-button ng-click="ctrl.toggleNotifications()">
					            <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
					            {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
					          </md-button>
					        </md-menu-item>
					      </md-menu-content>
				 			</md-menu>
				 			<b>{{user.name.givenName}}</b>
				 		</div>
				 		<div class="md-toolbar-tools md-toolbar-bottom">
				 		 <md-button ng-href="#/user/contacts" ><i class="material-icons">contact_mail</i></md-button>
				 		 <md-input-container md-no-float>
				 		 	<input type="text" placeholder="search">
				 		 </md-input-container>
				 		</div>
			 		</md-toolbar>
			 	</div>
			 	<div layout="column"  ng-controller="contactsController as contactCtrl" >
			 	
				 <md-list-item ng-repeat="contact in contactsList.feed.entry | limitTo:30" layout-align="space-between start"  ng-if="contact.gd$name.gd$fullName.$t" ng-click="ctrl.showChat(contact)">
			 	<div flex="60">
			 	{{contact.gd$name.gd$fullName.$t}}
			 	</div>
			 	<md-menu flex ng-mouseenter="showMenu" layout="column" layout-align="end end" >
			 		<md-button ng-click="openContact(contact, $mdOpenMenu, $event)" class="md-icon-button"><md-icon class="material-icons" >more_vert</md-icon></md-button>
			 	<md-menu-content>
			 	<md-menu-item >{{contact.gd$name.gd$fullName.$t}} <img ng-src="{{contact.link[0].href}}"/> </md-menu-item>
			 	</md-menu-content>
			 	</md-menu>
			 	
			 	</md-list-item>
			 	</div>
			 </md-sidenav>
			<div class="chat" ng-show="showChat" layout="column" flex>
				<md-toolbar class=" md-default-theme _md-toolbar-transitions">
			 		<div class="md-toolbar-tools md-toolbar-top">
	 					<i class="material-icons" style="font-size:36px;height:80%;">&#xE55A;</i>
			 			<div style="color:white;"><b>{{activeFrnd}}</b></div>
				 	</div>
				</md-toolbar>
				<md-content id="messagesContainer" class="chat-content ms-scroll ps-container" flex>
				<ul id="messages" layout="column" flex></ul>
				<h6 ng-show="isTyping" class="bottom">{{activeFrnd}}  typing.....</h6>
				</md-content>

					<div id="chat-message" class="chat-footer " layout="row" flex layout-padding>
					<form class="reply-form" layout="row" flex="100" ng-submit="ctrl.submit()" >
					<span emoji-picker="chat" placement="top" title="Emoji" recent-limit="20" ></span>
					<md-input-container  md-no-float flex="80">
						<textarea ng-model="chat" ng-change="ctrl.typing()" ng-keyup="$event.keyCode == 13 && ctrl.submit()" placeholder="type your text and hit enter" maxlength="200"></textarea>
					</md-input-container>
					<md-input-container>
						<md-button type="submit"><md-icon class="material-icons md-primary">send</md-icon></md-button>
					</md-input-container>
					</form>
					 </div>
				
			</div>
			</div>
		</div>
	</div>
</md-content>
