<md-content ng-controller="UserController as ctrl">
	<div id="chatapp">
		<div class="center">
			<div class="content-card"  style="overflow:hidden;" layout="row">
			 <md-sidenav class="sidenav leftSidenav"   md-is-locked-open="$mdMedia('gt-md')">
			 	<div class="view chats-view">
			 		<md-toolbar class="md-tall md-default-theme _md-toolbar-transitions">
				 		<div class="md-toolbar-tools md-toolbar-top">
				 			<i class="material-icons" style="font-size:36px;height:80%;">&#xE55A;</i>
				 			<md-menu class="md-menu">
				 			<md-icon class="material-icons status online" ng-click="ctrl.openMenu($mdOpenMenu, $event)">done</md-icon>
				 			<md-menu-content width="4">
					        <md-menu-item>
					          <md-button >
					          	<div layout-align="center center">
					            <i class="material-icons status away">query_builder</i>
					            </div>
					          </md-button>
					        </md-menu-item>
					        <md-menu-item>
					          <md-button>
					            <md-icon md-svg-icon="call:voicemail"></md-icon>
					            Check voicemail
					          </md-button>
					        </md-menu-item>
					        <md-menu-divider></md-menu-divider>
					        <md-menu-item>
					          <md-button ng-click="ctrl.toggleNotifications()">
					            <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
					            {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
					          </md-button>
					        </md-menu-item>
					      </md-menu-content>
				 			</md-menu>
				 		</div>
				 		<div class="md-toolbar-tools md-toolbar-bottom">
				 		
				 		</div>
			 		</md-toolbar>
			 	</div>
			 </md-sidenav>
			<div class="chat" layout="column" flex>
				<md-toolbar class=" md-default-theme _md-toolbar-transitions">
				 		<div class="md-toolbar-tools md-toolbar-top">
				 			<i class="material-icons" style="font-size:36px;height:80%;">&#xE55A;</i>
				 			
				 			<md-icon class="material-icons status online" ng-click="ctrl.openMenu($mdOpenMenu, $event)">done</md-icon>
				 			
				 			</div>
				</md-toolbar>
				<md-content id="messagesContainer" class="chat-content ms-scroll ps-container" flex>
				<ul id="messages" layout="column" flex></ul>
				</md-content>
					<div id="chat-message" class="chat-footer " layout="row" flex layout-padding>
					<form class="reply-form" layout="row" flex="100" ng-submit="ctrl.submit()" >
					<md-input-container  md-no-float flex="100">
					
						<textarea ng-model="chat" ng-keyup="$event.keyCode == 13 && ctrl.submit()" placeholder="type your text and hit enter" maxlength="200"></textarea>
					</md-input-container>
					<md-input-container>
						<md-button type="submit"><md-icon class="material-icons md-primary">send</md-icon></md-button>
					</md-input-container>
					</form>
					 </div>
				
			</div>
			</div>
		</div>
	</div>
</md-content>
