
 <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2 flex-gt-sm="85">
          <span>Smiley Chat</span>
        </h2>
        <md-button ng-if="userName">{{userName}}</md-button>
        <md-menu ng-if="userName">
        <md-button  class="md-icon-button" ng-click="$mdOpenMenu()" style="height: 4rem;width: 4rem;">
        <img  ng-repeat="ico in icon" src="{{ico.value}}" style="height: 100%;width: 100%;">
        </md-button>
        <md-menu-content>
        <md-menu-item>
        <md-button >Account Settings</md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
              <md-menu-item>
              <md-button ng-click="logout()" >Logout</md-button>
              </md-menu-item>
        </md-menu-content>
        </md-menu>
        <md-button ng-hide="!!userName" ng-href="/#login" layout-align="end end" flex-gt-sm="10"  >
         <md-icon class="material-icons">&#xE7FD;</md-icon> 
         <span>login</span>
        </md-button>
        <md-button ng-hide="!!userName" ng-href="/#register" layout-align="end end"  flex-gt-sm="10">
         <md-icon class="material-icons">&#xE7FE;</md-icon> 
         <span> register</span>
        </md-button>
        <span flex-gt-sm="4"></span>
      </div>
    </md-toolbar>
