.footer{
	bottom:0;
	position: fixed;
	width: 100%;
}
body{
}
.btn1{
	font-size: 40px;
}
#chatapp {
    height: 100% !important;
}
.bottom{
    bottom: 120;
    position: fixed;
}
.emoji-picker{
    margin-left: 0.5rem;
    margin-bottom: -0.5rem;
}
.md-whiteframe-4dp{
    background-color: white;
}
#chatapp .center {
    padding: 32px 32px 0;
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    }
    
#chatapp .center .content-card {
    position: relative;
    background-size: cover;
    height: 90%;
}
sup{
    top:-0.1rem;
    }
#chatapp.leftSidenav{
	overflow: hidden;
    width: 300px;

}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color:#009688;
    color: rgba(255,255,255,0.87);
}
#chatapp .leftSidenav .view {
    overflow: hidden;
    width: 100%;
    background-color: white;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    border-right: 1px solid rgba(0,0,0,.12);
}
#chatapp .leftSidenav .chats-view md-toolbar {
    background-color: #F3F4F5;
    color: rgba(0,0,0,.87);
}
#chatapp .leftSidenav .chats-view md-toolbar .md-toolbar-bottom {
    background-color: #FAFAFA;
}
#chatapp .center .content-card .sidenav md-toolbar {
    border-bottom: 1px solid rgba(0,0,0,.08);
}
md-toolbar .md-menu {
    height: auto;
    margin: auto;
    padding: 0;
}
.md-menu, md-menu {
    padding: 0;
}
#chatapp .status {
    position: absolute;
    top: 28px;
    left: 28px;
    border-radius: 50%;
}
#chatapp .status .online {
    color: #4CAF50;
}
#chatapp .status .away {
    background-color: #FFC107;
    color: #FFF;
}
md-toolbar {
    background-color: #F3F4F5;
    color: rgba(0,0,0,.87);
}

#chatapp .center .content-card .chat .chat-footer {
    min-height: 64px;
    max-height: 96px;
    background-color: #F3F4F5;
    color: rgba(0,0,0,.87);
    border-top: 1px solid rgba(0,0,0,.08);
    padding: 8px 8px 8px 16px;
}
#messages {
    max-height: 480px;
    overflow-y: hidden;
}
#messagesContainer{
    max-height: 380px;
    overflow-y: scroll;
    background-color: lightblue; 
}

#chatapp .center .content-card .chat .chat-footer .reply-form md-input-container {
    margin: 0;
    padding-right: 16px;
   
}
#msgleft{
	width: 400px;
    height: inherit;
    padding: 1rem;
	float: left;	
    margin-top: 1rem;
    border-radius: 1rem;
}
ul#messages{
    list-style-type: none;
}
#msgright{
    width: 400px;
    height: inherit;
    padding: 1rem;
    border-radius: 6px;
    float: left;
    border-radius: 10px;
    margin-top: 1rem;
    align-self: flex-end;
    margin-right: 3rem;
}
#msg::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}